* {
    box-sizing: border-box;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titles{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* Center items horizontally */
    justify-content: center;
    margin: 10px;
    
}
.div1 {
display: flex;
flex-direction: row;
}
.div2 {
    display: flex;
    flex-direction: row;
}
.div3 {
    display: flex;
    flex-direction: row;
}
.div4 {
    display: flex;
    flex-direction: row;
}
.div5 {
    display: flex;
    flex-direction: row;
}
.div6 {
    display: flex;
    flex-direction: row;
}
.div7 {
    display: flex;
    flex-direction: row;
}
.div8 {
    display: flex;
    flex-direction: row;
}
.div9 {
    display: flex;
    flex-direction: row;
}
.div10 {
    display: flex;
    flex-direction: row;
}
.div11 {
    display: flex;
    flex-direction: row;
}
.div12 {
    display: flex;
    flex-direction: row;
}
.container button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}